*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}


body{
    background-color: rgb(230, 245, 239);
}

.box{
    width: 100%;
    height: 100vh;
    background-color: white;
}
.main-content{
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.left-section{
    grid-column: span 2;
    height: 100%;
    background-color: darkslategray;
}
.right-section{
    grid-column: span 5;
    background-color: rgb(78, 182, 182);
    height: 100%;
}
.left-content{
    padding: 2rem 3rem;
}
.profile{
    width: 100%;
    border-bottom: 1px solid rgb(43, 36, 36);
    
}
.image{
    width: 100%;
    text-align: center;
}
.profile img{
    width: 50%;
    border-radius: 50%;
    border: 8px solid rgb(175, 244, 204);  
}

.name{
    font-size: 2rem;
    color: white;
    text-align: center;
    text-decoration: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1.2rem 0;
}
.career{
    font-size: 1.2rem;
    color:  rgb(8, 144, 137);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.main-title{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(229, 235, 235);
    padding-top: 3rem;
}
.contact-info ul{
    padding: 2rem 0;
}
.contact-info ul li{
    padding: 1rem 0;
    display: flex;
    align-items: center;
}
.contact-info ul li i{
    padding-right: 1rem;
    font-size: 1.2rem;
    color: rgb(94, 240, 114);
}
.skills-section ul{
    padding-top: 2rem 0;
    color: white;

}
.skill-section ul li{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 1rem 0;

}
                       
.progress-bar{
    width: 100%;
    height: .4rem;
    background-color: darkolivegreen;
    position: relative;
    border-radius: 12px;
}

.progress{
    height: 100%;
    position: absolute;
    left: 0;
    background-color: aquamarine;
    border-radius: 12px;

}
.js-progress{
    width: 30%;
}

.Html-progress{
    width: 70%;

}
.ps-progress{
    width: 80%;
}

.cs-progress{
    width: 40%;
}

.skill-title{
    text-transform: uppercase;
    color: antiquewhite;
    font-size: 1rem;
    padding-right: 1rem;
}

.language-section ul{
     padding-top: 2rem;
}

.language-section ul li{
    display: grid;
    color: rgb(244, 225, 225);
    padding: .4rem 0;
    
}

.right-main-content{
    padding: 2rem 3rem;
}  

.right-title{
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(13, 71, 13);
    padding-bottom: 1.2rem;
    position: relative;
}

.right-title::after{
    top: 50%;
    content: "";
    position: absolute;
    width: 60%;
    height: .2rem;
    background-color: rgb(79, 159, 4);
    right: 0;
    transform: translateY(-50%);
    border-radius: 12px;
}

.para{
    line-height: 1.6rem;
    color: antiquewhite;
    font-size: 1.1rem;
}


.sect{
    padding-bottom: 2rem;
    padding-top: 2rem;
}


.timeline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
}
.tl-title{
    letter-spacing: 1px;
    font-size: 1.2rem;
    color: rgb(37, 43, 31);
    text-transform: uppercase;
   
}
.tl-title-2{
    letter-spacing: 1px;
    font-size: 1rem;
    color: rgb(74, 99, 50);
    text-transform: uppercase;
}

.tl-content{
    border-left: 1px solid wheat;
    padding-left: 2rem;
    position: relative;
    padding-bottom: 2rem ;
}

.tl-title-2::before{
    content: "";
    position: absolute;
    width: .7rem;
    height: .7rem;
    background-color: aquamarine;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
}

/*Media Querries*/
@media  screen and (max-width:823px) {
    .right-title::after{
        width: 40%;
    } 
}

@media  screen and (max-width:681px) {
    .right-title::after{
        width: 30%;
    } 
}

@media  screen and (max-width:780px) {
    .timeline{
        grid-template-columns: repeat(1,1fr);

    }
}    
@media  screen and (max-width:780px) {
    .timeline{
        grid-column:span 3 ;
    }
}


@media  screen and (max-width:1200px) {
    .main-content{
        grid-template-columns: repeat(1,1fr);
    }
    .profile img{
        width: 50%;
    }
}
@media  screen and (max-width:700px){
    .profile img{
        width: 60%;
    }
}

@media  screen and (max-width:390px){
    .name{
        font-size: 1.5rem;
    }
}


